body{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
ul{
    list-style-type: none;
    padding: 0;
}

li{
    text-decoration: none;
    border: 1px solid  #ccc;
    padding: 15px 10px;
    margin: 5px 10px;
}

li:hover{
    background-color:#EEEEEE;
}

.btn {
    width:95%;
    padding: 15px 10px;
    margin: 5px 10px;
    border: 1px solid #6691ad;
    background: #A2D4F2;
    background: -webkit-gradient(linear, left top, left bottom, from(#6691ad), to(#A2D4F2));
    background: -webkit-linear-gradient(top, #6691ad, #A2D4F2);
    background: -moz-linear-gradient(top, #6691ad #A2D4F2);
    background: -ms-linear-gradient(top, #6691ad, #A2D4F2);
    background: -o-linear-gradient(top, #6691ad, #A2D4F2);
    padding: 15px 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    }
 .btn:hover {
    background: #6691ad;
    color: #ccc;
    }
 .btn:active {
    background: #6691ad;
    }

.container .shadowEffect{
    text-align:center;
	position:relative;
}

.container{
    margin:5px;
    padding: 5px 20px;
    border: 1px solid #b7bec6;
    text-align: center;
}

.shadowEffect{
    box-shadow: 0 6px 6px -6px #b7bec6;
}

.loading {
    width: 100px;
    height: auto;
}

.matchListDiv{
    width: 100%;
    text-align:center;
}

.matchList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.smallListItem{
    padding: 5px;
    margin: 5px;
    font-size: 12 px;
}

a{
    color:#6691ad;
}
a:hover{
    color:#2B9FE7;
}

.container a{
    font: 14px Tahoma, Verdana, Segoe, sans-serif; 
}

.bottomContainerLink{
    padding: 10px;
}

.appForm{
    text-align: left;
    width: 90%;
}
.appFormInput{
    margin: 5px 10px;
    padding: 10px 5px;
    width: 100%;
}
.appFlexBox{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.appForm input[type="radio"]{
    margin: 15px;
    transform: scale(1.75);
}
.radioLabel{
    margin: 15px 0;
}

input:required{
    border-left: solid #0b2ad9 2px;
}